*{
margin: 0;
box-sizing: border-box;
}

h1{
    font-size: 50px;
    padding: 20px;
}

main{
    text-align: center;
    background-color: rgb(230, 228, 222);
    height: 100vh;
}

#image{
    display: block;
    max-height: 600px;
    max-width: 95%;
    border: 10px, solid, black;
    margin: auto;
    
}

#img-caption{
    font-size: 12px;
}
#img-div{
  
}

#tribute-info{
    text-align: left;
    max-width: 940px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    font-size: 1.1em;
}

@media(max-width: 600px){
    h1{
        font-size: 30px;
    }

    #tribute-info{
        font-size: 1em;
    }

}