*{
margin: 0;
box-sizing: border-box;
}

h1{
    font-size: 50px;
    font-family: 'Crimson Text', serif;
    padding: 30px;
}

main{
    text-align: center;
    background-color: rgb(241, 241, 239);
    min-height: 100vh;
}

#image{
    display: block;
    max-height: 600px;  
    max-width: 95%;
    border: 10px, solid, black;
    margin: auto;
    
}

#img-caption{
    font-size: 0.6em;
    font-family: sans-serif;
    padding: 5px;
    
}
#img-div{
  
}

#tribute-info{
    text-align: left;
    max-width: 940px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    font-size: 1.1em;
    font-family: 'Crimson Text', serif;
}

footer{
    background-color: rgb(231, 230, 230);
    text-align: center;
    
    margin: auto;
    padding: 20px 20px 20px 20px;
    font-size: 0.6em;
    font-family:  sans-serif;
}

@media(max-width: 600px){
    h1{
        font-size: 30px;
    }

    #tribute-info{
        font-size: 1em;
    }

}